PORT=8000
MONGODB_URL=mongodb+srv://Monoj:Monoj%402005@analyticsdb.cssjfjv.mongodb.net/myDatabase?retryWrites=true&w=majority
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=1wef6v1ff4f4r4rw4af4w6z83r6zw6r4ew34raewre86wvr3ewrew8araw3r8wa38
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=vr41evev89ver9e688j3nj4yu3m4k7yu7mliu97ly79r7gawe7cf9w9r4186f8ef
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dllxatylx
CLOUDINARY_CLOUD_KEY=889767697817459
CLOUDINARY_CLOUD_SECRET=ywk6h4uioygWdAzAOCwnFpn8k2Y